<html>
    <head>
        <title>getUsers</title>
    </head>
    <body>

        {{#users}}
            <div>
                <b>{{name}}</b>
                <i>{{id}}</i>
            </div>
        {{/users}}

    </body>
</html>